[submodule "submodules/source/Better-Acode-Comments"]
	path = submodules/source/Better-Acode-Comments
	url = git@github.com:NewSpectrum/Better-Acode-Comments.git
[submodule "submodules/source/Acode-SourceCode"]
	path = submodules/source/Acode-SourceCode
	url = git@github.com:NewSpectrum/Acode-SourceCode
[submodule "submodules/templates/Acode-Plugin"]
	path = submodules/templates/Acode-Plugin
	url = git@github.com:NewSpectrum/Acode-Plugin
